{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}



{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Aide des quêtes du jeu Dune point and click</h1>
							<blockquote>
							Nous vous proposons ici de vous aider sur certaines quêtes en essayant de spoiler le moins possible sur les autres quêtes du jeu.<br/>
							A ne regarder que si vous êtes bloqués !
							</blockquote>
		
		
<h2>Liste des quêtes</h2>
<section id="aide-jeu-dune" class="wrapper style2 spotlights">
	<section>
		<a href="#" class="image"><img src="/images/site/dune_empereur_arrakis.jpg" alt="Dune jeu point and click : jeu dune arrakis" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h3>La quête du Fremen de musée</h3>
				<p>Récompense : un objet essentiel, de l'influence, des escortes et des serviteurs</p>
				<ul class="actions">
					<li><a href="{{ path('app_aide1') }}" class="button">Voir plus</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="/images/site/aide2.jpg" alt="Dune jeu point and click : jeu dune arrakis" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h3>La quête de la novice Bene Gesserit</h3>
				<p>Récompense : un indice de quête essentiel.</p>
				<ul class="actions">
					<li><a href="{{ path('app_aide2') }}" class="button">Voir plus</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="/images/site/aide3.jpg" alt="Dune jeu point and click : jeu dune arrakis" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h3>La quête de la boussole</h3>
				<p>Récompense : de l'épice, des serviteurs et un objet essentiel.</p>
				<ul class="actions">
					<li><a href="{{ path('app_aide3') }}" class="button">Voir plus</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="/images/site/aide4.png" alt="Dune jeu point and click : jeu dune arrakis" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h3>La quête du barman</h3>
				<p>Récompense : un objet de quête essentiel.</p>
				<ul class="actions">
					<li><a href="{{ path('app_aide4') }}" class="button">Voir plus</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="#" class="image"><img src="/images/site/aide5.png" alt="Dune jeu point and click : jeu dune arrakis" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h3>La quête du traître</h3>
				<p>Récompense : Des serviteurs, de l'influence, des vaisseaux, des escortes et un peu de corruption.</p>
				<ul class="actions">
					<li><a href="{{ path('app_aide5') }}" class="button">Voir plus</a></li>
				</ul>
			</div>
		</div>
	</section>
</section>
</div>
					</section>

			</div>

{% endblock %}